.bl {
    position: relative;
/*    font-size: 250%;*/
}

.girl {
/*    padding: 100px;*/
    position: absolute;
    left: 50px;
    top: 90px;
}
.bt {
    position: absolute;
    left: 195px;
    top: 155px;     
}

.k {
    top: 20px;
    left: 185px;
    width: 150px;
    position: absolute;
}

.t {
    font-size: 70%;
}

.r {
    margin-top: 10px;
}

