.image-bg {
    background: url(../img/2017-04-17.png); 
    background-repeat: round;
}

.indent {
    margin-top: 30px;
    margin-bottom: 10px;
}

.course-select-sel{
    background-color: #1ab394;
    background-image: none;
    border-radius: 3px;
    color: white;
    padding: 6px 7px;
    font-size: 15px;
}

.tabl {
    margin-bottom: 100px;
}